h1 {
    margin: 0.2rem;
    font-size: 1.5rem;
}

p {
    margin: 1.2rem 0;
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.5rem;
    /* 字间距 */
    letter-spacing: 0.1rem;
}

.container {
    position: fixed;
    top: 50%;
    right: 400px;
    /* 距离右侧的距离，可以根据需要调整 */
    transform: translateY(-50%);
    /* 垂直居中 */
    border-radius: 10px;
    box-shadow: 0 14px 2px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    padding: 0.6rem;
    width: 50rem;
    overflow: hidden;
    max-width: 100vw;
    min-height: 70vh;
    background: #fff;
    /* 添加背景色以确保内容清晰可见 */
    z-index: 998;
    /* 确保在侧边栏之下 */
}

.form-container form {
    background: #fff;
    /* 弹性布局 */
    display: flex;
    flex-direction: column;
    padding: 0 1.8rem;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.form-container input {
    width: 100%;
    height: 2.2rem;
    text-indent: 1rem;
    border: 1px solid #ccc;
    /* 把input上下左右边框取消 */
    border-left: none;
    border-right: none;
    border-top: none;
    /* 点击input边框消失 */
    outline: none;
    margin: 0.6rem;
}

/* 被选中时s缩小 */
.form-container button:active {
    transform: scale(0.95, 0.95);
}

.form-container button {
    padding: 0.4rem 1rem;
    background: #417dff;
    color: white;
    border: 1px solid #fff;
    outline: none;
    /* 鼠标图标变化效果 */
    cursor: pointer;
    width: 6rem;
    border-radius: 8px;
    transition: all 100ms ease-in;
    margin: 0.6rem 0;
    font-size: 0.8rem;
    padding: 0.5rem 0;
}

button.ghost {
    background: transparent;
    border-color: #fff;
    border: 1px solid #fff;
    outline: none;
    cursor: pointer;
    width: 6rem;
    border-radius: 8px;
    transition: all 800ms ease-in;
    margin: 0.6rem 0;
    padding: 0.5rem 0;
    color: white;
    font-size: 0.8rem;
}

button.gost:active {
    transform: scale(0.95, 0.95);
}

.form-container {
    /* 绝对定位 */
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.5s ease-in;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.overlay {
    background-color: #417dff;
    width: 200%;
    height: 100%;
    position: relative;
    left: -100%;
    transition: all 0.6s ease-in-out;
    color: white;
}

.overlay-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    z-index: 99;
}

.overlay-pannel {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    padding: 0 2.2rem;
}

.overlay-right {
    right: 0;
}

.container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.container.right-panel-active .sign-in-container {
    transform: translateX(100%);
}

.container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    transition: all 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
    transform: translateX(50%);
}

.container.right-panel-active .overlay-left {
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.container.right-panel-active .overlay-right {
    transform: translateX(20%);
    transition: all 0.6s ease-in-out;
}